/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Conteúdo principal */
main {
    padding: 20px;
}

/* Estilo para as seções */
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/* Imagens responsivas */
img {

    height: 40%;
    width: 50%;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}
